In [ ]:
상관분석
pandas -> corr() : 상관계수를 실시하는 데이터프레임 전용 메서드
pearson, kendall, spearman 은 각각의 상관계수로 계산

In [ ]:
scipy -> pearsonr() : pearson 상관분석을 실시하는 함수
    두 일차원 벡터를 넣어 출력으로 상관계수와 p-value를 받음
scipy -> spearmanr()
scipy -> kendalltau()
r,r,tau

In [1]:
import pandas as pd
from scipy.stats import pearsonr, spearmanr, kendalltau

In [2]:
df = pd.read_csv("./test_files/bike.csv")
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [7]:
df[["casual","registered", "count"]].corr(method="spearman")

              casual  registered     count
casual      1.000000    0.775785  0.847378
registered  0.775785    1.000000  0.988901
count       0.847378    0.988901  1.000000

In [8]:
pearsonr(df['casual'], df['registered'])

PearsonRResult(statistic=0.49724968508700795, pvalue=0.0)

In [9]:
stat, p = pearsonr(df['casual'], df['registered']) #pearson correlation coefficient, two-tailed p-value
print(stat, p)

0.49724968508700795 0.0

In [24]:
#기온, 체감온도, 상대습도, 총 자전거 대요 숫자의 상관계수 분석 시, 가장 낮은 상관계수는?
#bike.csv 는 수치형 변수간 상관분석이므로 method = pearson 사용
df[['temp','atemp','humidity','casual']].corr(method='pearson').round(2).min().min()

-0.35

In [28]:
#계절별로 체감온도와 자전거 대여숫자의 상관관계를 알아볼 때, 적절한 상관분석기법을 사용한 상관계수는?
df.groupby('season')[['atemp','casual']].corr()

                  atemp    casual
season
1      atemp   1.000000  0.478312
       casual  0.478312  1.000000
2      atemp   1.000000  0.378122
       casual  0.378122  1.000000
3      atemp   1.000000  0.381423
       casual  0.381423  1.000000
4      atemp   1.000000  0.443751
       casual  0.443751  1.000000

In [44]:
#날씨에 따른 기온과 자전거 대여의 상관계수 변화를 알아보고자 한다.
#날씨가 맑은날과 그렇지 않은 날의 상관계수 차이의 절대값은? weather = 1 이 맑은날
df.loc[df['weather']==1,['temp','casual']].corr().loc['temp','casual']-df.loc[df['weather']!=1, ['temp','casual']].corr().loc['temp','casual']

0.024691646193832073

In [ ]:
비계층적 군집분석
k-means 
k개의 점을 기반으로 가까운 거리의 데이터를 묶는 것과 평균을 활용하는 군집분석 기법
결과 고정을 위해 seed 설정이 필요, 군집갯수(k) 확정을 위해 시행착오 필요

In [ ]:
sklearn -> MinMaxScaler : minmax 정규화
sklearn -> StandardScaler : 표준 정규화
fit method 로 규칙 모델을 만들고 transform 함수로 변환

In [3]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [4]:
df_iris = pd.read_csv("./test_files/iris.csv")
df_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df_iris_train, df_iris_test = train_test_split(df_iris, test_size=0.7, random_state=123)
df_iris_train.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
76            6.8          2.8           4.8          1.4  versicolor
134           6.1          2.6           5.6          1.4   virginica
34            4.9          3.1           1.5          0.2      setosa
27            5.2          3.5           1.5          0.2      setosa
94            5.6          2.7           4.2          1.3  versicolor