In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('edu_enrollees.csv')

In [3]:
df.head()

,enrollee_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target,Xgrp
0,8949.0,city_103,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36.0,1.0,train
1,29725.0,city_40,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47.0,0.0,train
2,11561.0,city_21,0.624,NaN,No relevant experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83.0,0.0,train
3,33241.0,city_115,0.789,NaN,No relevant experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52.0,1.0,train
4,666.0,city_162,0.767,Male,Has relevant experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8.0,0.0,train

In [4]:
#step1
df = df.drop(['city','company_size', 'company_type'],axis = 1)

In [6]:
df.columns

Index(['enrollee_id', 'city_development_index', 'gender',
       'relevant_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'last_new_job', 'training_hours',
       'target', 'Xgrp'],
      dtype='object')

In [17]:
#step2
df_nonna = df.dropna(axis = 0)

In [29]:
#step3
df_int = df_nonna.drop(df_nonna[df_nonna['experience'] == '>20'].index).drop(df_nonna[df_nonna['experience']=='<1'].index)
df_int['experience'] = df_int['experience'].astype(int)

In [31]:
#step4
df_int2 = df_int.drop(df_int[df_int['last_new_job'] == '>4'].index).drop(df_int[df_int['last_new_job'] == 'never'].index)
df_int2['last_new_job'] = df_int2['last_new_job'].astype(int)

In [33]:
len(df_int2)

7522

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [35]:
#q1

In [36]:
df_base = df_int2.copy()

In [46]:
mod_1=len( df_base.loc[df_base['relevant_experience'] == 'No relevant experience'])
mod_2 = len(df_base.loc[df_base['relevant_experience'] == 'Has relevant experience'])

In [47]:
a = len(df_base.loc[(df_base['relevant_experience'] == 'No relevant experience') & (df_base['target'] == 1),])/mod_1
b = len(df_base.loc[(df_base['relevant_experience'] == 'Has relevant experience') &( df_base['target'] == 1), ] )/mod_2

In [49]:
round(a/b,2)

1.77

In [50]:
#q2

In [66]:
#step1
#pd.get_dummies(df_base.mask(df_base['gender']=='Other'), columns = ['gender'])
df_1 = pd.get_dummies(df_base, columns = ['gender']).iloc[:,:-1]
df_2 = pd.get_dummies(df_1, columns =['relevant_experience']).iloc[:,:-1]
df_3 = pd.get_dummies(df_2, columns = ['enrolled_university']).iloc[:,:-1]
df_4 = pd.get_dummies(df_3, columns = ['education_level']).iloc[:,:-1]
df_5 = pd.get_dummies(df_4, columns = ['major_discipline']).iloc[:,:-1]

In [67]:
df_5.head()

,enrollee_id,city_development_index,experience,last_new_job,training_hours,target,Xgrp,gender_Female,gender_Male,relevant_experience_Has relevant experience,enrolled_university_Full time course,enrolled_university_Part time course,education_level_Graduate,education_level_Masters,major_discipline_Arts,major_discipline_Business Degree,major_discipline_Humanities,major_discipline_No Major,major_discipline_Other
8,27107.0,0.920,7,1,46.0,1.0,train,0,1,1,0,0,1,0,0,0,0,0,0
11,23853.0,0.920,5,1,108.0,0.0,train,0,1,1,0,0,1,0,0,0,0,0,0
19,11399.0,0.827,4,1,132.0,1.0,train,1,0,1,0,0,1,0,1,0,0,0,0
20,31972.0,0.843,11,1,68.0,0.0,train,0,1,1,0,0,0,1,0,0,0,0,0
21,19061.0,0.926,11,2,50.0,0.0,train,0,1,1,0,0,0,1,0,0,0,0,0

In [68]:
#step2
job2 = df_5.drop(columns = 'enrollee_id',axis=1)
job2.head()

,city_development_index,experience,last_new_job,training_hours,target,Xgrp,gender_Female,gender_Male,relevant_experience_Has relevant experience,enrolled_university_Full time course,enrolled_university_Part time course,education_level_Graduate,education_level_Masters,major_discipline_Arts,major_discipline_Business Degree,major_discipline_Humanities,major_discipline_No Major,major_discipline_Other
8,0.920,7,1,46.0,1.0,train,0,1,1,0,0,1,0,0,0,0,0,0
11,0.920,5,1,108.0,0.0,train,0,1,1,0,0,1,0,0,0,0,0,0
19,0.827,4,1,132.0,1.0,train,1,0,1,0,0,1,0,1,0,0,0,0
20,0.843,11,1,68.0,0.0,train,0,1,1,0,0,0,1,0,0,0,0,0
21,0.926,11,2,50.0,0.0,train,0,1,1,0,0,0,1,0,0,0,0,0

In [70]:
len(job2.columns)

18

In [72]:
X = job2.drop(columns = ['target','Xgrp'],axis = 1)
y = job2.loc[:,'target']

In [109]:
model = LogisticRegression(C = 100000, max_iter = 1000, solver='liblinear', random_state = 123, fit_intercept=True)
model.fit(X,y)
odds_ratio = model.coef_

In [115]:
np.floor(np.exp(model.coef_).max()*100)/100

1.67

In [116]:
odds_ratio #첫번째값이 interceptㅇ ㅔ관한거

array([[-6.17027459e+00, -2.86947767e-02,  9.40010959e-02,
        -9.42300801e-04, -2.17187479e-01, -1.86998706e-01,
        -7.69008071e-01,  5.13270671e-01, -2.90445589e-01,
         2.22930314e-01, -7.78751713e-02,  2.84976114e-01,
         1.17005475e-01,  2.46530336e-01,  4.01781704e-01,
        -4.42323720e-01]])

In [117]:
model.intercept_

array([4.56272809])

In [ ]:
col1 = ['target','Xgrp']
col2 = ['city_development_index','experience','last_new_job','training_hours']
df_job2 = pd.concat([df_base[col1,col2]])???

In [80]:
#q3

In [81]:
#step1
train = job2.loc[job2['Xgrp'] == 'train',]
test = job2.loc[job2['Xgrp'] == 'test']

In [82]:
test.head()

,city_development_index,experience,last_new_job,training_hours,target,Xgrp,gender_Female,gender_Male,relevant_experience_Has relevant experience,enrolled_university_Full time course,enrolled_university_Part time course,education_level_Graduate,education_level_Masters,major_discipline_Arts,major_discipline_Business Degree,major_discipline_Humanities,major_discipline_No Major,major_discipline_Other
12001,0.920,15,1,16.0,0.0,test,0,1,0,0,0,1,0,0,0,0,0,0
12002,0.624,3,1,13.0,1.0,test,0,1,1,0,0,1,0,0,0,0,0,1
12003,0.920,14,1,4.0,0.0,test,0,1,1,0,0,0,0,0,0,0,0,0
12004,0.920,7,1,16.0,0.0,test,0,1,1,0,0,1,0,0,1,0,0,0
12008,0.843,6,1,70.0,0.0,test,1,0,1,0,0,1,0,0,0,0,0,0

In [85]:
#step2
x_train = train.drop(columns = ['target', 'Xgrp'], axis = 1)
y_train = train.loc[:,'target']

x_test = test.drop(columns = ['target','Xgrp'],axis = 1)
y_test = test.loc[:,'target']

In [86]:
model = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
model.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean')

In [88]:
y_pred = model.predict(x_test)

/Users/cherylkim/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [122]:
df_tab = pd.crosstab(y_test, y_pred)
df_tab.values.diagonal().sum()/df_tab.values.sum()

0.7120028409090909

In [89]:
from sklearn.metrics import confusion_matrix
cnf_matrix = confusion_matrix(y_test,y_pred)

In [90]:
cnf_matrix

array([[1897,  195],
       [ 616,  108]])

In [106]:
round(np.diag(cnf_matrix).sum()/cnf_matrix.sum(),2)

0.71

In [91]:

#FP = cnf_matrix.sum(axis=0) - np.diag(cnf_matrix)  
#FN = cnf_matrix.sum(axis=1) - np.diag(cnf_matrix)
#TP = np.diag(cnf_matrix)
#TN = cnf_matrix.sum() - (FP + FN + TP)

In [ ]:
#from sklearn.metrics import recall_score
#tpr = recall_score(y_test, y_pred)   # it is better to name it y_test 
# to calculate, tnr we need to set the positive label to the other class
# I assume your negative class consists of 0, if it is -1, change 0 below to that value
#tnr = recall_score(y_test, y_pred, pos_label = 0) 
#fpr = 1 - tnr
#fnr = 1 - tpr

In [118]:
shift tab tab

SyntaxError: invalid syntax (2151550232.py, line 1)

In [ ]:
KNeighborsClassifier()